html {
    background: url("../img/parchment.jpg");
    scrollbar-color: #782e22 #111;
}

body {
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;

}

tr:hover, .sidenav a:hover {
    background-color: #50505050;
}

th {
    border: 2px solid;
    border-color: black;
    height: 50px;
}

td {
    border: 1px solid;
    border-color: black;
    height: 25px;
    max-width: 500px;
}

label {
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

input {
    background-color: #50505030;
    width: 100%;
    margin: 5px 0px 10px;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
}

/* Remove arros from input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button{
    background-color: #505050F0;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

a {
    color: black;
}

.navbar {
    overflow: hidden;
    width: 100%
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #50505050;
  overflow-x: hidden;
}

.sidenav a {
    font-size: 30px;
    text-decoration: none;
    padding: 12px 20px;
    /* margin: 10px auto; */
    width: 100%;
}

.content {
  margin-left: 300px;
}

input.checkbox {
    width: auto;
    margin: auto 0px;
}

.noHover:hover, .noHover :hover {
    background-color: transparent;
}

/* Search box */
input.search {
    background-color: transparent;
    width: 0%;
    border-color: transparent;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input:focus.search, input.search.notEmpty {
    background-color: #50505030;
    width: 100%;
    cursor: auto;
    padding: 12px 35px;
    border: medium none color;
}

.search.fa-search {
  position: relative;
  left: 30px;
}

/* Flexbox */
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: auto;
    min-width: auto;
}

.col {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: auto;
    min-width: auto;
}

.col-1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 10%;
    min-width: 10%;
}

.col-2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 20%;
    min-width: 20%;
}

.col-3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 30%;
    min-width: 30%;
}

.col-4 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 40%;
    min-width: 40%;
}

.col-5 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 50%;
    min-width: 50%;
}

.col-6 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 60%;
    min-width: 60%;
}

.col-7 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 70%;
    min-width: 70%;
}

.col-8 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 80%;
    min-width: 80%;
}

.col-9 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 90%;
    min-width: 90%;
}

.col-10 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 100%;
    min-width: 100%;
}

.start {
    text-align: left;
    align-content: start;
    justify-content: flex-start;
}

.end {
    text-align: right;
    align-content: end;
    justify-content: flex-end;
}

.center {
    text-align: center;
    align-content: center;
    justify-content: space-around;
}

/* Login page */
.login {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: transparent; */
    padding-top: 60px;
    text-align: left;
}

.login-content {
    background: url("../img/parchment.jpg");
    margin: 5% auto auto auto;
    border: 5px solid #888;
    width: 30%;
}

/* Set a style for all login buttons */
.login button{
    background-color: #505050F0;
    color: white;
    padding: 14px 20px;
    margin: 10px 25%;
    border: none;
    cursor: pointer;
    width: 50%;
}

.login button:hover {
    opacity: 0.8;
}

/* Set a style for login input fields */
.login input[type=text], .login input[type=password] {
  width: 90%;
  margin: 8px 5%;
}

.login label {
    margin-left: 5%;
}

.avatar {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 60%;
  border-radius: 50%;
}

/* Add Zoom Animation */
.login .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
