html {
    background: url("../img/parchment.jpg");
    scrollbar-color: #782e22 #111;
}

body {
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;

}

tr:hover {
    background-color: #50505050;
}

th {
    border: 2px solid;
    border-color: black;
    height: 50px;
}

td {
    border: 1px solid;
    border-color: black;
    height: 25px;
    max-width: 500px;
}

input {
    background-color: #50505030
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.content {
  margin-left: 200px;
}

.add, .update {
    margin:auto;
    width: 33%;
    text-align: left;
}

.add input, .update input {
    width: 100%;
}

input.checkbox {
    width: auto;
}

a {
    color: black;
}

.noHover:hover, .noHover :hover {
    background-color: transparent;
}

/* Flexbox */
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: auto;
    min-width: auto;
}

.col {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: auto;
    min-width: auto;
}

.col-1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 10%;
    min-width: 10%;
}

.col-2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 20%;
    min-width: 20%;
}

.col-3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 30%;
    min-width: 30%;
}

.col-4 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 40%;
    min-width: 40%;
}

.col-5 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 50%;
    min-width: 50%;
}

.col-6 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 60%;
    min-width: 60%;
}

.col-7 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 70%;
    min-width: 70%;
}

.col-8 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 80%;
    min-width: 80%;
}

.col-9 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 90%;
    min-width: 90%;
}

.col-10 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0;
    max-width: 100%;
    min-width: 100%;
}

.center {
    text-align: center;
    align-content: center;
    justify-content: space-around;
}

/* Remove arros from input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
