{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1>Add an Item</h1>

    <form  action="/" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" placeholder="Item name" required><br>
        <label for="name">Description: </label>
        <input type="text" name="description" id="description" placeholder="Item description (optional)"><br>
        <label for="name">Price: </label>
        <input type="number" name="price" id="price" placeholder="0" min="0"><br>
        <label for="name">Weigth: </label>
        <input type="number" name="weigth" id="weigth" placeholder="0" min="0"><br>
        <label for="name">Quantity: </label>
        <input type="number" name="quantity" id="quantity" placeholder="1" min="1"><br>
        <label for="name">Type: </label>
        <select name="type">
            <option value="Weapon" selected>Weapon</option>
            <option value="Armor">Armor</option>
            <option value="Shield">Shield</option>
            <option value="Potion">Potion</option>
            <option value="Scroll">Scroll</option>
            <option value="Wand">Wand</option>
            <option value="Quest Item">Quest Item</option>
            <option value="Misc">Misc</option>
        </select><br>
        <label for="name">Magic Item: </label>
        <input type="checkbox" name="isMagic" id="isMagic" value="Yes"><br>
        <input type="hidden" name="isMagic" id="isMagic" value="No">
        <label for="name">External link: </label>
        <input type="text" name="href" id="href" placeholder="Item href"><br>
        <input type="submit" value="Add Item"><br>
    </form>
</div>
{% endblock %}
