<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome/css/all.min.css') }}">

        <script src="{{ url_for('static', filename='js/main.js') }}">

        </script>

        <title>Bag Of Holding</title>

        {% block head %}{% endblock %}
    </head>
    <body>

        {% if not login_page %}

        <div class="sidenav">
          <div class="row center">
            <img src="/static/img/{{ 'bag.webp'|getenv('BAG_ICON') }}" class="avatar">
          </div>
          <div class="row start">
            <a href="/"><b>Bag</b></a>
            <a href="/journal"><b>Journals</b></a>
          </div>
          {% block sidenav %}{% endblock %}
        </div>
        <div class="content">
            <!-- Navigation -->
            <div class="navbar row">
                <div class="col-2">
                </div>
                <div class="col-6 center">
                    {% block navbar_title %}{% endblock %}
                </div>

                {% if admin %}

                <div class="col-1 center">
                    <form action="/users" method="GET">
                        <button type="submit" name="users">Users</button>
                    </form>
                </div>

                {% else %}

                <div class="col-1 center">
                  <form action="/users" method="GET">
                      <button type="submit" name="users">Edit User</button>
                  </form>
              </div>

                {% endif %}

                <div class="col-1 center">
                  <form action="/logout" >
                      <button type="submit" name="logout">Log Out</button>
                  </form>
                </div>

            </div>
        </div>

        {% endif %}

        {% block body %}{% endblock %}
    </body>
</html>
