{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="">
    <h1>Update Party Gold</h1>
    <div class="row center">

    </div>
    <div class="row center">
        <div class="col-3 center">
            <form class="start" action="/update/coin" method="POST" id="update_coins">
                {% for coin in coins %}
                <label for="{{ coin._name }}_quantity"><b>{{ coin._name }}</b></label>
                <input type="number" name="{{ coin._name }}_quantity" id="{{ coin._name }}_quantity" value="{{ coin._quantity }}" required>
                {% endfor %}
            </form>
        </div>
    </div>
    <div class="row center">
        <div class="col-3 center">
            <div class="col-5 center">
                <button type="submit" form="update_coins">Update</button>
            </div>
            <div class="col-5 center">
                <form action="/" method="GET">
                    <button type="submit">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
