{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block sidenav %}
{% endblock %}

{% block navbar_title %}
<h1>{{ user }}'s Journals</h1>
{% endblock %}

{% block body %}

<div class="content">
    <!-- Journal Title -->
    <div class="navbar row">
        <div class="col-2">
        </div>
        <div class="col-6 center">
            <h2>{{ journal._title }}</h2>
        </div>
        <div class="col-2 end">
        </div>
    </div>

    {% if entries|length < 1 %}

    <!-- Empty journals -->
    <h4>Such Empty...</h4>
    <img src="{{ url_for('static', filename='img/tumbleweed.gif') }}" alt="Tumbleweed">
    <div class="row center">
        <div class="col-1 center">
            <form action="/journal/{{ journal._id }}/entry" method="GET">
                <button type="submit">Add a new Entry</button>
            </form>
        </div>
    </div>

    {% else %}

    <!-- Buttons -->
    <div class="row">
        <div class="col-1 center">
            <form action="/journal/{{ journal._id }}/entry" method="GET">
                <button type="submit">Add a new Entry</button>
            </form>
        </div>
    </div>

    <!-- Existing Journal Entries -->
    {% for entry in entries %}
    <div class="row col-8 entry">
        <div class="row col entry-header">
          <div class="clickable col-1 center" onclick="show('entry_{{ entry._id }}_body'); toggle_class('entry_{{ entry._id }}_show', 'fa-angle-down'); toggle_class('entry_{{ entry._id }}_show', 'fa-angle-up')">
              <i id="entry_{{ entry._id }}_show" class="fas fa-angle-down"></i>
          </div>
          <div class="col-2 start" id="entry_{{ entry._id }}_title">
              <h3>{{ entry._title }}</h3>
          </div>
          <div class="col-4">
          </div>
          <div class="col-2 end" id="entry_{{ entry._id }}_game_date">
              <h4>{{ entry._game_date }}</h4>
          </div>
          <div class="col-1 center" id="entry_{{ entry._id }}_icons">
              <a href="/journal/{{ journal._id }}/entry/{{ entry._id }}"><i class="clickable far fa-edit"></i></a>
              <i class='clickable far fa-trash-alt' onclick="delete_entry({{ entry._id }})"></i>
          </div>
      </div>
        <div class="row col start entry-content">
            <div class="hidden" id="entry_{{ entry._id }}_body">
                <div class="row">
                    <p>{{ entry._body|safe }}</p>
                </div>
                <div class="row col entry-meta">
                    <div class="col-2">
                        <p title="Written by {{ entry._author }}"><b>{{ entry._author }}</b></p>
                    </div>
                    <div class="col-6">
                    </div>
                    <div class="col-2 center">
                        {% if entry._edit_date == None %}
                        <p title="Created by {{ user }} on {{ entry._creation_date|datetime_format }}">{{ entry._creation_date|date_format }}</p>
                        {% else %}
                        <p title="Created by {{ user }} on {{ entry._creation_date|datetime_format }}">{{ entry._creation_date|date_format }}</p>|<p title="Edited by {{ user }} on {{ entry._edit_date|datetime_format }}">{{ entry._edit_date|date_format }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="hidden" id="delete_entry">
        <div class="row center">
            <div class="col center pop animate">
                <div class="pop-content">
                    <h1 class="center">Deleting</h1>
                    <h2 class="center" id="delete_title"></h2>
                    <h4 class="center">Are you sure you what to do this?</h4>
                    <h5 class="center">This action is irreversible</h5>
                    <div class="row center">
                        <div class="col-6 center">
                            <div class="col-5 center">
                                <form class="start" action="/journal/{{ journal._id }}/entry/" method="POST" id="delete_entry_form">
                                    <button type="submit" form="delete_entry_form">Delete</button>
                                </form>
                            </div>
                            <div class="col-5 center">
                                <button type="submit" onclick="show('delete_entry', false)">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

</div>
{% endblock %}
