{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}

<div class="sidenav">
    <div class="row center">
        <img src="../static/img/{{ 'bag.webp'|getenv('BAG_ICON') }}" class="avatar">
    </div>
    <div class="row start">
        <a href="/"><b>Bag</b></a>
    </div>
</div>

<div class="content">
    <div class="navbar row">
        <div class="col-2">
        </div>
        <div class="col-6 center">
            <h1>Bag Of Holding</h1>
        </div>
        <div class="col-2 end">
            <form action="/logout" >
                <button type="submit" name="logout">Log Out</button>
            </form>
        </div>
    </div>

    {% if items|length < 1 %}
    <h4>Such Empty...</h4>
    <img src="{{ url_for('static', filename='img/tumbleweed.gif') }}" alt="Tumbleweed">
    <div class="row center">
        <div class="col-1 center">
            <button type="submit" name="create" onclick="show('add_item', true)">Add Item</button>
        </div>
    </div>
    {% else %}
    <table class="noHover">
        <tr>
            <th>
                <i class='fas fa-coins'></i>
                Party Gold
                <i class='clickable far fa-edit' onclick="show('update_coins', true)"></i>
            </th>
            <th>
                <i class='fas fa-funnel-dollar'></i>
                Items Value
            </th>
            <th>
                <i class='fas fa-weight-hanging'></i>
                Items Weight
            </th>
        </tr>
        <tr>
            <td>{{ "{:,.1f}".format(party_gold) }} g</td>
            <td>{{ "{:,.1f}".format(items_value) }} g</td>
            <td>{{ "{:,.1f}".format(items_weight) }} lb</td>
        </tr>
    </table>

    <div class="row">
        <div class="col-1 center">
            <button type="submit" name="create" onclick="show('add_item', true)">Add Item</button>
        </div>
        <div class="col-9 end">
            <span class="search fas fa-search"></span>
            <input class="search" type="text" id="searchItem" onkeyup="searchItem()" onfocusout="checkFocus()">
        </div>
    </div>
    <table id="itemTable">
        <tr class="noHover">
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Price</th>
            <th>Weight</th>
            <th>Quantity</th>
            <th>Type</th>
            <th>Magic Item</th>
            <th>Actions</th>
        </tr>
        {% for item in items %}
        <tr id="item_{{item._id}}">
            {% if item._href == "" %}
            <td id="item_{{item._id}}_name">{{ item._name}}</td>
            {% else %}
            <td id="item_{{item._id}}_name"><a  id="item_{{item._id}}_href" href="{{ item._href }}" target="_blank" rel="external noreferrer nofollow noopener">{{ item._name}}</a></td>
            {% endif %}
            <td id="item_{{item._id}}_description">{{ item._description }}</td>
            <td id="item_{{item._id}}_location">{{ item._location }}</td>
            <td id="item_{{item._id}}_price">{{ "{:,.1f}".format(item._price) }}</td>
            <td id="item_{{item._id}}_weight">{{ "{:,.1f}".format(item._weight) }}</td>
            <td>
                <div class="row">
                    <div class="col-5 center" id="item_{{item._id}}_quantity">
                        {{ item._quantity }}
                    </div>
                    <div class="col-5">
                        <div class="col-5 center">
                            <a href="/add/{{item._id}}"><i class='fas fa-plus' style='font-size:12px'></i></a>
                        </div>
                        <div class="col-5 center">
                            <a href="/subtract/{{item._id}}"><i class='fas fa-minus' style='font-size:12px'></i></a>
                        </div>
                    </div>
                </div>
            </td>
            <td id="item_{{item._id}}_type">{{ item._type }}</td>
            <td id="item_{{item._id}}_isMagic">{{ item._isMagic }}</td>
            <td>
                <i class='clickable fas fa-dollar-sign' onclick="sell_item({{item._id}})"></i>
                <i class='clickable far fa-edit' onclick="update_item({{item._id}})"></i>
                <a href="/copy/{{item._id}}"><i class='far fa-copy'></i></a>
                <i class='clickable far fa-trash-alt' onclick="delete_item({{item._id}})"></i>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="hidden" id="update_coins">
        <div class="row center">
            <div class="col center pop animate">
                <div class="pop-content">
                    <h1 class="center">Update Party Gold</h1>
                    <div class="row center">
                        <div class="col-5 center">
                            <form class="start" action="/coin" method="POST" id="update_coins_form">
                                {% for coin in coins %}
                                <label for="{{ coin._name }}_quantity"><b>{{ coin._name }}</b></label>
                                <input type="number" name="{{ coin._name }}_quantity" id="{{ coin._name }}_quantity" value="{{ coin._quantity }}" required>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-5 center">
                            <div class="col-5 center">
                                <button type="submit" form="update_coins_form">Update</button>
                            </div>
                            <div class="col-5 center">
                                <button onclick="show('update_coins', false)">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hidden" id="update_item">
        <div class="row center">
            <div class="col center pop animate">
                <div class="pop-content">
                    <h1 class="center">Update an Item</h1>
                    <div class="row center" style="margin-bottom: 10px">
                        <div class="col-6 center">
                            <div class="col-5 start">
                                <label for="update_type"><b>Type: </b></label>
                                <select name="type" id="update_type" form="update_item_form">
                                    <option value="Weapon" selected>Weapon</option>
                                    <option value="Armor">Armor</option>
                                    <option value="Shield">Shield</option>
                                    <option value="Potion">Potion</option>
                                    <option value="Scroll">Scroll</option>
                                    <option value="Wand">Wand</option>
                                    <option value="Wondrous Item">Wondrous Item</option>
                                    <option value="Quest Item">Quest Item</option>
                                    <option value="Misc">Misc</option>
                                </select>
                            </div>
                            <div class="col-5 start">
                                <label for="update_isMagic"><b>Magic Item: </b></label>
                                <input class="checkbox" type="checkbox" name="isMagic" id="update_isMagic" value="Yes" form="update_item_form">
                                <input type="hidden" name="isMagic" value="No" form="update_item_form">
                            </div>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-6 center">
                            <form class="start" action="/update/" method="POST" id="update_item_form">
                                <label for="update_name"><b>Name: </b></label>
                                <input type="text" name="name" id="update_name" placeholder="Item name" required>
                                <label for="update_description"><b>Description: </b></label>
                                <input type="text" name="description" id="update_description" placeholder="Item description (optional)">
                                <label for="update_location"><b>Location: </b></label>
                                <input type="text" name="location" id="update_location" placeholder="Where was the item found?" required>
                                <label for="update_price"><b>Price (g): </b></label>
                                <input type="number" name="price" id="update_price" value="0" min="0" step="0.1">
                                <label for="update_weight"><b>Weight (lb): </b></label>
                                <input type="number" name="weight" id="update_weight" value="0" min="0" step="0.1">
                                <label for="update_quantity"><b>Quantity: </b></label>
                                <input type="number" name="quantity" id="update_quantity" value="1" min="1">
                                <label for="update_href"><b>External link: </b></label>
                                <input type="text" name="href" id="update_href" placeholder="Item href">
                            </form>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-6 center">
                            <div class="col-5 center">
                                <button type="submit" form="update_item_form">Update Item</button>
                            </div>
                            <div class="col-5 center">
                                <button type="submit" onclick="show('update_item', false)">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hidden" id="sell_item">
        <div class="row center">
            <div class="col center pop animate">
                <div class="pop-content">
                    <h1 class="center">Selling</h1>
                    <h2 class="center" id="sell_name"></h2>
                    <h4 class="center" id="sell_available"></h4>
                    <h4 class="center" id="sell_price"></h4>
                    <div class="row center">
                        <div class="col-6 center">
                            <form class="start" action="/sell/" method="POST" id="sell_item_form">
                                <label for="sell_quantity"><b>Quantity: </b></label>
                                <input type="number" name="quantity" id="sell_quantity" value="1" min="1">
                            </form>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-6 center">
                            <div class="col-5 center">
                                <button type="submit" form="sell_item_form">Sell</button>
                            </div>
                            <div class="col-5 center">
                                <button type="submit" onclick="show('sell_item', false)">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hidden" id="delete_item">
        <div class="row center">
            <div class="col center pop animate">
                <div class="pop-content">
                    <h1 class="center">Deleting</h1>
                    <h2 class="center" id="delete_name"></h2>
                    <h4 class="center">Are you sure you what to do this?</h4>
                    <h5 class="center">This action is irreversible</h5>
                    <div class="row center">
                        <div class="col-6 center">
                            <div class="col-5 center">
                                <form class="start" action="/delete/" method="POST" id="delete_item_form">
                                    <button type="submit" form="delete_item_form">Delete</button>
                                </form>
                            </div>
                            <div class="col-5 center">
                                <button type="submit" onclick="show('delete_item', false)">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    <div class="hidden" id="add_item">
        <div class="row center">
            <div class="col center pop animate">
                <div class="pop-content">
                    <h1 class="center">Add an Item</h1>
                    <div class="row center" style="margin-bottom: 10px">
                        <div class="col-6 center">
                            <div class="col-5 start">
                                <label for="add_type"><b>Type: </b></label>
                                <select name="type" id="add_type" form="add_item_form">
                                    <option value="Weapon" selected>Weapon</option>
                                    <option value="Armor">Armor</option>
                                    <option value="Shield">Shield</option>
                                    <option value="Potion">Potion</option>
                                    <option value="Scroll">Scroll</option>
                                    <option value="Wand">Wand</option>
                                    <option value="Wondrous Item">Wondrous Item</option>
                                    <option value="Quest Item">Quest Item</option>
                                    <option value="Misc">Misc</option>
                                </select>
                            </div>
                            <div class="col-5 start">
                                <label for="add_isMagic"><b>Magic Item: </b></label>
                                <input class="checkbox" type="checkbox" name="isMagic" id="add_isMagic" value="Yes" form="add_item_form">
                                <input type="hidden" name="isMagic" id="add_isNotMagic" value="No" form="add_item_form">
                            </div>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-6 center">
                            <form class="start" action="/" method="POST" id="add_item_form">
                                <label for="add_name"><b>Name: </b></label>
                                <input type="text" name="name" id="add_name" placeholder="Item name" required>
                                <label for="add_description"><b>Description: </b></label>
                                <input type="text" name="description" id="add_description" placeholder="Item description (optional)">
                                <label for="add_location"><b>Location: </b></label>
                                <input type="text" name="location" id="add_location" placeholder="Where was the item found?" required>
                                <label for="add_price"><b>Price (g): </b></label>
                                <input type="number" name="price" id="add_price" value="0" min="0" step="0.1">
                                <label for="add_weight"><b>Weight (lb): </b></label>
                                <input type="number" name="weight" id="add_weight" value="0" min="0" step="0.1">
                                <label for="add_quantity"><b>Quantity: </b></label>
                                <input type="number" name="quantity" id="add_quantity" value="1" min="1">
                                <label for="add_href"><b>External link: </b></label>
                                <input type="text" name="href" id="add_href" placeholder="Item href">
                            </form>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-6 center">
                            <div class="col-5 center">
                                <button type="submit" form="add_item_form">Add Item</button>
                            </div>
                            <div class="col-5 center">
                                <button type="submit" onclick="show('add_item', false)">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
