{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="">
</div>

<div class="">
    <h1>Bag Of Holding</h1>

    <form action="/create" >
        <input type="submit" name="create" value="Add Item">
    </form>
    <br>

    {% if items|length < 1 %}
    <h4>Such Empty...</h4>
    <img src="{{ url_for('static', filename='img/tumbleweed.gif') }}" alt="Tumbleweed">
    {% else %}
    <table>
        <tr class="noHover">
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Price</th>
            <th>Weight</th>
            <th>Quantity</th>
            <th>Type</th>
            <th>Magic Item</th>
            <th>Actions</th>
        </tr>
        {% for item in items %}
            <tr>
                {% if item._href == "" %}
                <td>{{ item._name}}</td>
                {% else %}
                <td><a href="{{ item._href }}" target="_blank" rel="external noreferrer nofollow noopener">{{ item._name}}</a></td>
                {% endif %}
                <td>{{ item._description }}</td>
                <td>{{ item._location }}</td>
                <td>{{ item._price }}</td>
                <td>{{ item._weight }}</td>
                <td>
                    <div class="row">
                        <div class="col-5 center">
                            {{ item._quantity }}
                        </div>
                        <div class="col-5">
                            <div class="col-5 center">
                                <a href="/add/{{item._id}}"><i class='fas fa-plus' style='font-size:12px'></i></a>
                            </div>
                            <div class="col-5 center">
                                <a href="/subtract/{{item._id}}"><i class='fas fa-minus' style='font-size:12px'></i></a>
                            </div>
                        </div>
                    </div>
                </td>
                <td>{{ item._type }}</td>
                <td>{{ item._isMagic }}</td>
                <td>
                    <!-- <a href="/update/{{item._id}}">Update</a> -->
                    <a href="/update/{{item._id}}"><i class='far fa-edit'></i></a>
                    <!-- <a href="/copy/{{item._id}}">Copy</a> -->
                    <a href="/copy/{{item._id}}"><i class='far fa-copy'></i></a>
                    <!-- <a href="/delete/{{item._id}}">Delete</a> -->
                    <a href="/delete/{{item._id}}"><i class='fa fa-trash'></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
