{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div>
    <div class="login" id="login">
        <form class="login-content animate" action="/login" method="POST">
            <div class="avatar">
                <img src="../static/img/{{ 'bag.webp'|getenv('BAG_ICON') }}" class="avatar">
                {% if error != "" %}
                <h4 style="color: red"> {{ error }} </h4>
                {% endif %}
            </div>
            <label for="user"><b>User</b></label>
            <input type="text" name="user" value="">
            <label for="pass"><b>Password</b></label>
            <input type="password" name="pass" value="">
            <button type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock %}
