{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1>Update Item</h1>

    <form  action="/update/{{ item._id }}" method="POST">
        <input type="text" name="name" id="name" value="{{ item._name }}">
        <input type="text" name="description" id="description" value="{{ item._description }}">
        <input type="number" name="price" id="price" value="{{ item._price }}" min="0">
        <input type="number" name="weigth" id="weigth" value="{{ item._weigth }}" min="0">
        <input type="number" name="quantity" id="quantity" value="{{ item._quantity }}" min="1">
        <select name="type">
            <option value="Weapon" selected>Weapon</option>
            <option value="Armor">Armor</option>
            <option value="Shield">Shield</option>
            <option value="Potion">Potion</option>
            <option value="Scroll">Scroll</option>
            <option value="Wand">Wand</option>
            <option value="Quest Item">Quest Item</option>
            <option value="Misc">Misc</option>
        </select>
        <input type="checkbox" name="isMagic" id="isMagic" value="Yes">
        <input type="hidden" name="isMagic" id="isMagic" value="No">
        <input type="text" name="href" id="href" value="{{ item._href }}">
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}
