{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="">
    <h1>Update Item</h1>

    <div class="row center" style="margin-bottom: 10px">
        <div class="col-3 center">
            <div class="col-5 start">
                <label for="type"><b>Type: </b></label>
                <select name="type" form="update_form">
                    <option value="Weapon" selected>Weapon</option>
                    <option value="Armor">Armor</option>
                    <option value="Shield">Shield</option>
                    <option value="Potion">Potion</option>
                    <option value="Scroll">Scroll</option>
                    <option value="Wand">Wand</option>
                    <option value="Wondrous Item">Wondrous Item</option>
                    <option value="Quest Item">Quest Item</option>
                    <option value="Misc">Misc</option>
                </select>
            </div>
            <div class="col-5 start">
                <label for="isMagic"><b>Magic Item: </b></label>
                {% if item._isMagic == "Yes" %}
                <input class="checkbox start" type="checkbox" name="isMagic" id="isMagic" value="Yes"  form="add_form" checked>
                {% else %}
                <input class="checkbox" type="checkbox" name="isMagic" id="isMagic" value="Yes" form="update_form">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row center">
        <div class="col-3 center">
            <form class="start" action="/update/{{ item._id }}" method="POST" id="update_form">
                <input type="hidden" name="isMagic" id="isMagic" value="No">
                <label for="name"><b>Name: </b></label>
                <input type="text" name="name" id="name" value="{{ item._name }}" required>
                <label for="description"><b>Description: </b></label>
                <input type="text" name="description" id="description" value="{{ item._description }}">
                <label for="location"><b>Location: </b></label>
                <input type="text" name="location" id="location" value="{{ item._location }}" required>
                <label for="price"><b>Price (g): </b></label>
                <input type="number" name="price" id="price" value="{{ item._price }}" min="0" step="0.1">
                <label for="weight"><b>Weight (lb): </b></label>
                <input type="number" name="weight" id="weight" value="{{ item._weight }}" min="0" step="0.1">
                <label for="quantity"><b>Quantity: </b></label>
                <input type="number" name="quantity" id="quantity" value="{{ item._quantity }}" min="1">
                <label for="href"><b>External link: </b></label>
                <input type="text" name="href" id="href" value="{{ item._href }}">
            </form>
        </div>
    </div>
    <div class="row center">
        <div class="col-3 center">
            <div class="col-5 center">
                <button type="submit" form="update_form">Update</button>
            </div>
            <div class="col-5 center">
                <form action="/" method="GET">
                    <button type="submit">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
